.add_window {
    position: absolute;
    width: 500px;
    height: 500px;
    border: 0.1px solid var(--low-border-color);
    border-radius: 7px;
    background-color: #060606;
    padding: 25px;
    display: flex;
    flex-direction: column;
}
.add_window_title_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.add_window_title_container > .icon{
    color: var(--low-font-color);
    width: 18px;
    height: 18px;
    cursor: pointer;
}
.add_window_title_container > .add_close_icon:hover{
    color: white;
}
.add_window_title{
    display: flex;
}
.add_window_title > h3{
    color: white;
    margin: 0px 7px;
    font-weight: 500;
    line-height: 10px;
    font-size: 18px;
}
.add_window_title > .icon{
    color: white;
}
.add_window > p{
    margin: 5px 0px 10px 0px;
    color: var(--low-font-color);
    font-weight: 500;
    font-size: 13px;
}

.add_window_type{
    width: 100%;
    background-color: #121212;
    display: flex;
    border-radius: 7px;
    height: 35px;
    padding: 3px;
    margin: 15px 0px;
}
.add_window_type li{
    flex: 1;
    cursor: pointer;
    border-radius: 7px;
}
.add_window_type li.active{
    background-color: var(--active-butoon-color);
}
.add_window_type li > span{
    font-size: 13px;
    margin: 0px 7px;
    font-weight: bold;
    color: white;
}
.add_window_type li > .icon{
    width: 15px;
    height: 15px;
    color: white;
}
.add_window_type li:nth-child(2){
    margin: 0px 3px 0px 3px;
}

/* ----------------------------------- */

.select_link_type_container{
    display: flex;
    flex-direction: column;
}
.select_link_type_container > p{
    color: white;
    color: var(--low-font-color);
    font-size: 14px;
    font-weight: 500;
}
.select_link_type{
    margin-top: 7px;
    display: flex;
    justify-content: space-between;
}
.select_link_type > li{
    flex: 1;
    border: 1px solid var(--low-border-color);
    height: 80px;
    border-radius: 7px;
}
.select_link_type > li:nth-child(2){
    margin: 0px 5px;
}
.select_link_type > li > .icon{
    color: var(--low-font-color);
    width: 15px;
    height: 15px;
}
.select_link_type > li > span{
    color: var(--low-font-color);
    font-size: 13px;
    margin-top: 7px
}
.select_link_type > li.active{
    border: 1px solid white;
}
.select_link_type > li.active > .icon,
.select_link_type > li.active > span{
    color: white;
}


.input_url_container{
    margin-top: 15px;
}
.input_url_container > p, .input_url_title_container > p, .upload_doc_title_container > p{
    font-size: 14px;
    color: var(--low-font-color);
    font-weight: 500;
}
.input_url{
    margin: 10px 0px;
    height: 35px;
    position: relative;
}
.input_url > input{
    width: 100%;
    height: 100%;
    padding: 0px 0px 0px 30px;
    border-radius: 7px;
    background-color: #121212;
    border: 1px solid var(--low-border-color) ;
    color: white;
}

.input_url > .icon{
    position: absolute;
    color: var(--low-font-color);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 4%;
    width: 15px;
    height: 15px;
}

.input_url_title_container, .upload_doc_title_container{
    margin-top: 15px;
}

.input_url_title, .upload_doc_title{
    margin: 10px 0px;
    height: 35px;
}
.input_url_title > input, .upload_doc_title > input{
    width: 100%;
    height: 100%;
    border-radius: 7px;
    background-color: #121212;
    border: 1px solid var(--low-border-color) ;
    color: white;
    padding: 0px 0px 0px 10px;
}
.add_buton_container{
    display: flex;
    justify-content: end;
    /* 남아 있는 공간 차지 밑으로 */
    margin-top: auto;
}
.add_buton_container > button{
    padding: 8px 10px;
    color: var(--low-font-color);
}
.cancel_button{
    background-color: #060606;
    border-radius: 7px;
    border: none;
}
.cancel_button:hover, .add_button:hover{
    background-color: #121212;
}
.add_button{
    background-color: #060606;
    border-radius: 7px;
    border: none;
}

/* ----------------------------------------- */
.upload_doc_file_container{
    display: flex;
    flex-direction: column;
}
.upload_doc_file_container > p{
    color: var(--low-font-color);
    font-size: 14px;
}
.upload_doc_file{
    border: 2px dashed var(--low-border-color);
    height: 155px;
    margin-top: 5px;
    border-radius: 6px;
}
.upload_doc_file > .icon{
    color: var(--low-font-color);
    width: 40px;
    height: 40px;
}
.upload_doc_file > p{
    color: var(--low-font-color);
    font-size: 14px;
    margin-top: 5px;
    font-weight: 500;
}
.upload_doc_file > span{
    color: var(--low-font-color);
    font-size: 12px;
    margin-top: 7px;
    font-weight: 500;
}


.active_link_type_container{
    display: none;
}
.active_doc_type_container{
    /* display: none; */
}