.file_display{
    border: 1px solid white;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 7px;
    display: flex;
    align-items: start;
    justify-content: start;
}

.show_upload_file {
  display: flex;
  align-items: center;
  align-items: center;
  border: 1px solid var(--low-font-color);
  border-radius: 7px;
  max-width: 200px;
  height: 30px;
}

.show_upload_file > .icon{
    color: var(--low-font-color);
    width: 18px;
    height: 18px;
    margin: 0px 5px;
}
.show_upload_file > .icon:hover{
    color: white;
}
.show_upload_file > .filename {
  color: white;
  font-size: 13px;
  margin-left: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.show_upload_file > .extension {
  color: white;
  font-size: 13px;
  margin-left: 2px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}