:root{
    --background-color:#000000;
    --low-background-color:#181b23;
    --low-font-color : #b4b4b4;
}
.main{
    background-color: var(--background-color);
    width: 100vw;
    height: 100vh;
}


.add_windows_wrap{
    display: flex;
}

.add_windows_wrap > p{
    color: var(--low-font-color);
    font-weight: 500;
    margin-top: 10px;
}
.add_windows{
    width: 150px;
    height: 150px;
    background-color: var(--low-background-color);
    border-radius: 20px;
    opacity: 80%;
    transition: all 0.3s;
}
.add_windows:hover{
    opacity: 100%;
}
.add_windows_button{
    width: 50px;
    height: 50px;
}