.project_item_container {
    display: flex;
    flex-direction: column;
    width: 100%; 
    border: 1px solid var(--low-border-color);
    border-radius: 11px;
    overflow: hidden;
}

.project_img{
    width: 100%;
    height: 200px;
    /* border: 1px solid white; */
    position: relative;
    background-color: gray;
}
.project_edit_button{
    position: absolute;
    top: 10px;
    right: 15px;
    display: none;
}
.project_item_container:hover .project_edit_button{
    display: block;
}
.project_edit_button > .icon{
    stroke: var(--low-font-color);
    width: 25px;
    height: 25px;
}
.project_edit_button > .icon:hover{
    stroke: white;
}
.project_name {
    height: 100px;
    width: 100%;
    padding: 10px 15px;
}
.project_name > h4{
    color: white;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.project_name > p{
    color: var(--low-font-color);
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    margin: 5px 0px;
}
.project_name > span{
    color: var(--low-font-color);
    font-size: 12px;
}