:root{
    --background-color:#000000;
    --low-background-color:#393939a1;
    --low-font-color : #b4b4b4;
    --active-butoon-color : #020202;
    --low-border-color : rgb(35, 35, 35);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html, body{
    width: 100vw;
    height: 100vh;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.revers_center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}