* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html, body{
    width: 100vw;
    height: 100vh;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.invers_center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}